.names {
    width: 100%;
    position: fixed;
    left: 0;
    display: flex;
    padding: 10px;
    flex-direction: row;
    line-height: 30px;
    font-size: 30px;
    background: rgb(28, 28, 28);
    box-shadow: 2px 2px 2px #ffffff;
}


.projectEntry {
    color: white;
    font-family: "Roboto";
    user-select: none;
    letter-spacing: 3px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
    border-left: 2px solid rgb(86, 86, 86);
    border-right: 2px solid rgb(86, 86, 86);
    padding: 10px;
}

.center {
    position: absolute;
    border: 2px solid gray;
    border-radius: 10px;
    box-shadow: 5px 5px 1px #17d92e;
    top: 30%;
    left: 50%;
    width: 600px;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start; 
    padding-bottom: 10px;
    background: rgb(21, 21, 21);
}

.centerTitle {
    position: static;
    color: #d9af17;
    text-align: center;
    font-family: "Roboto";
    font-size: clamp(20px, 10vw, 40px);
    font-weight: bold;
    text-overflow: clip;
    white-space: nowrap;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-left: 50%;
    margin-bottom: 20px;
    padding: 10px;
    transform: translate(-50%, 0);
    background: rgb(38, 38, 38);
    border-radius: 10px;
}

.changelog {
    position: static;
    color: rgb(229, 229, 229);
    font-family: monospace;
    font-size: 15px;
    width: 98%;
    text-align: left;
    white-space: pre-wrap;
    letter-spacing: 1px;
    top: 60px;
    margin-left: 1%;
    left: 0%;
    padding: 10px;
    background: rgb(56, 56, 56);
    border-radius: 5px;
    margin-bottom: 10px;
}

.lastUpdated {
    position: fixed;
    color: white;
    font-weight: bolder;
    font-family: "Roboto";
    font-size: 16px;
    margin-left: 1%;
    top: 100px;
    left: 0;
}

.version {
    position: static;
    color: #d9af17;
    font-family: "Roboto";
    font-weight: lighter;
    font-size: 20px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: 1px;
    font-weight: bolder;
    top: 60px;
    margin-left: 1%;
    margin-top: 20px;
    left: 0%;
    padding: 10px;
    background: rgb(38, 38, 38);
    border-radius: 5px;
    margin-bottom: 10px;
}

.downloadButton {
    color: white;
    font-family: "Roboto";
    background: rgb(216, 139, 16);
    border-radius: 10px;
    padding: 10px;
    margin-left: 1%;
    user-select: none;
    font-weight: bold;
    cursor: pointer;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.backgroundText {
    position: fixed;
    top: 0; 
    left: 0;
    color: rgba(31, 31, 31, 0.56);
    font-family: "Roboto";
    font-weight: bold;
    font-size: 50px;
    text-align: left;
    white-space: pre;
    transform: translate(-5%, -20%) rotate(40deg);
    user-select: none;
}

body {
    background-color: rgb(21, 21, 21);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .names
    {
        font-size: small;
        font-weight: bold;
        flex-direction: column;
    }
   .center
    {
        width: 90%;
    }
    .downloadButton
    {
        font-size: x-large;
    }
}
